<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <section class="content">
    <div class="container-fluid">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Prendre un rendez-vous</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <form [formGroup]="nouveauRdvForm" (ngSubmit)="ajouterRdv()">

            <div class="row justify-content-center">
              <p style="color: red" *ngIf="messageErreur !== null">{{messageErreur}}</p>
              <p style="color: green" *ngIf="messageSucces !== null">{{messageSucces}}</p>
            </div>


            <div class="row justify-content-center">
              <div class="col-sm-5">
                <div class="form-group">
                  <label for="employe">Employe</label>
                  <select id="employe"  class="form-control" formControlName="employe">
                    <option [ngValue]="null" disabled selected>Choisir un employe</option>
                    <option *ngFor="let employe of employes" [ngValue]="employe._id">
                      {{ employe.nom }} {{ employe.prenom }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label for="date_heure">Date</label>
                  <input type="datetime-local" class="form-control" id="date_heure" formControlName="date_heure">
                </div>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-primary w-15" style="margin-top: 32px" type="submit">Ajouter</button>
              </div>
            </div>
          </form>



          <div class="row">
            <button class="btn btn-success w-15 justify-content-end" style="margin-top: 32px" routerLink="../ajouter-au-panier">Ajouter un service</button>
          </div>
          <div class="row justify-content-center">
            <h3>Liste de service</h3>
          </div>
          <table id="listeServiceTable" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Prix</th>
              <th>Durée</th>
              <th>Commission</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of services">
              <td>{{item.nom}}</td>
              <td>{{item.prix}}</td>
              <td>{{item.duree}}</td>
              <td>{{item.commission}}</td>
              <td style="width: 2%">
                <button (click)="supprimerService(item._id)" class="btn ml-auto"><i class="fas fa-trash-alt" style="color: red"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>

    </div>
  </section>
</div>

<!-- Main content -->
