<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <section class="content">
    <div class="container-fluid">

      <div class="d-flex justify-content-center align-items-center" *ngIf="loading" style="height: 300px;">
        <span class="spinner-border spinner-border-lg"></span>
      </div>
      <div class="container py-5" *ngIf="!loading">
        <h1 class="text-center">Ajouter Service Favoris</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">

          <div class="col" *ngFor="let value of listeService">
            <div class="card">
              <!-- <img src="assets/dist/img/pas_image.jpg" class="card-img-top" alt="..."> -->
              <img src="{{ value.image ? (url + '/' + value.image) : 'assets/dist/img/pas_image.jpg' }}"
                class="card-img-top" alt="..." style="max-width: 100%; max-height: 200px;">
              <div class="card-body">
                <h5 class="card-title">{{value.nom}}</h5>
                <p class="card-text">Cette service va durée {{value.duree}}</p>
              </div>
              <div class="mb-5 d-flex justify-content-around">
                <h3>{{value.prix}}</h3>
                <ng-container *ngIf="!isServiceFavorite(value._id)">
                  <button class="btn btn-primary" (click)="ajouterFavoris(value._id)">Favoris</button>
                </ng-container>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- <div *ngIf="listeHistoriqueRendezVous.length > 0">
          <app-pagination [currentPage]="pageNumber" [totalPages]="totalItems" (pageChange)="onPageChange($event)">
          </app-pagination>
        </div> -->

    </div>
  </section>
</div>