<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <section class="content">
    <div class="container-fluid">

      <h1>Historique</h1>
      <div *ngIf="!loading">
        <div *ngFor="let value of listeHistoriqueRendezVous">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Rendez-vous</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <p><strong>Date et Heure:</strong>{{value.date_heure | date:'dd MMMM yyyy \'à\' HH:mm':'':'fr'}}</p>
                  <p><strong>Employé:</strong> {{value.employe_id.nom + " "+value.employe_id.prenom}}</p>
                  <ng-container *ngFor="let item of value.services">

                    <p><strong>Service:</strong> {{item.nom}}</p>
                  </ng-container>
                </div>
                <!-- <div class="col-6"> -->
                  <!-- <p><strong>Coiffeur:</strong> ato</p> -->
                  <!-- <p><strong>Statut:</strong> {{value.statut}}</p>
                  <p><strong>Montant:</strong> {{value.montant}}</p> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="d-flex justify-content-center align-items-center" *ngIf="loading" style="height: 300px;">
        <span class="spinner-border spinner-border-lg"></span>
      </div>
      <div *ngIf="listeHistoriqueRendezVous.length > 0">
        <app-pagination [currentPage]="pageNumber" [totalPages]="totalItems" (pageChange)="onPageChange($event)">
        </app-pagination>
      </div>

    </div>
  </section>
</div>