<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <section class="content">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <h2>Liste de service</h2>
      </div>

      <div class="services-grid">
        <div class="service-card" *ngFor="let service of services">
          <img class="service-image" src="{{ service.image ? (apiUrl + '/' + service.image) : 'assets/dist/img/pas_image.jpg' }}" alt="Service 1">
          <h3>{{service.nom}}</h3>
          <p>Prix: ${{service.prix}}</p>
          <p>Durée: {{service.duree}} minutes</p>
          <button class="add-to-cart-btn" *ngIf="service.estAuPanier === false" (click)="ajouterAuPanier(service._id)" ><i class="fas fa-cart-plus fa-lg mr-2"></i> Ajouter au Panier</button>
          <button class="add-to-cart-btn-disable" *ngIf="service.estAuPanier === true"><i class="fas fa-shopping-cart fa-lg mr-2"></i> Déjà au Panier</button>
        </div>
      </div>

    </div>
  </section>
</div>

<!-- Main content -->
